@import "tailwindcss";

:root {
  --background-color: #fdfffc;
  --primary-color: #ff9f1c;
  --secondary-color: #2ec4b6;
  --typeface-color: #011627;
  --accent-color: #e71d36;
}

@theme {
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-primary-300: #d07900;
  --color-primary-500: #a35400;
  --color-primary-700: #793100;
  --color-primary-900: #540b00;
  --color-secondary: var(--secondary-color);
  --color-secondary-300: #009c90;
  --color-secondary-500: #00766b;
  --color-secondary-700: #005249;
  --color-secondary-900: #003029;
  --color-typeface: var(--typeface-color);
  --color-accent: var(--accent-color);
  --font-sans: "Noto Sans", sans-serif;
  --font-serif: "Noto Serif", serif;
}

body {
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  font-style: normal;
}

/* Footer */

footer {
    background-color: var(--primary-color);
    color: var(--typeface-color);
}

#general-info h4 {
    font-weight: 900;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}


@media only screen and (min-width: 38rem) {

 
    .social-media {
        align-items: start;
        padding: 0;
    }

    .date-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}