@import "tailwindcss";

:root {
  --background-color: #FDFFFC;
  --primary-color: #FF9F1C;
  --secondary-color: #2EC4B6;
  --typeface-color: #011627;
  --accent-color: #E71D36;
}

@theme {
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-typeface: var(--typeface-color);
  --font-sans: "Noto Sans", sans-serif;
  --font-serif: "Noto Serif", serif;
}


body {
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  font-style: normal;
}