<div class="footer-container 
p-5 sm:grid sm:px-10 sm:grid-cols-3 sm:gap-10 max-w-[1300px]">
  <div class="flex flex-col gap-4 pb-2">
    <h4 class="font-bold text-2xl">Find Your Anime</h4>
    <ul class="text-primary-900">
        <li class="flex h-12 items-center leading-12">
          <a href="/FindYourAnime/index.html" class="block text-xl">Home</a></li>
        <li class="flex h-12 items-center leading-12">
          <a href="/FindYourAnime/anime-listing/index.html" class="block text-xl">Discover</a></li>
        <li class="flex h-12 items-center leading-12">
          <a href="/FindYourAnime/quote-generator/index.html" class="block text-xl">Quotes</a></li>
        <li class="flex h-12 items-center leading-12">
          <a href=""></a></li>
    </ul>
  </div>
  <div class="social-media">
    <a href="https://github.com/smondragondev" >
      <img src="/FindYourAnime/images/github-icon.svg" alt="Github profile" width="48"/>
    </a>
    <a href="https://www.linkedin.com/in/sergio-mondragon/">
      <img src="/FindYourAnime/images/linkedin-icon.svg" alt="LinkedIn profile" width="48" />
    </a>
    <a href="https://www.instagram.com/sergiomondragonsilva/">
      <img src="/FindYourAnime/images/instagram-icon.svg" alt="Instagram profile" width="48" />
    </a>
  </div>
  <div class="date-info">
    <p>WDD330 Final Project</p>
    <p>Sergio Mondragon</p>
    <p>&copy;<span id="currentYear"></span> Ferreñafe, Perú</p>
    <p id="lastModified"></p>
  </div>
</div>
