<div class="flex py-5 px-5 sm:px-10 justify-between bg-secondary" id="header-menu">
  <div class="flex gap-2 items-center">
    <img src="/FindYourAnime/images/logo.webp" alt="logo" width="48"/>
    <a href="/FindYourAnime/index.html" class="text-3xl">Find Your Anime</a>
  </div>
  <nav class="hidden sm:flex gap-12">
    <ul class="flex items-center gap-4 text-secondary-900 font-bold" id="nav-options">
      <li><a href="/FindYourAnime/index.html" class="hover:text-primary-900 hover:border-t-3" id="home-nav">Home</a></li>
      <li><a href="/FindYourAnime/anime-listing/index.html" class="hover:text-primary-900 hover:border-t-3" id="discover-nav">Discover</a></li>
      <li><a href="/FindYourAnime/anime-favorites/index.html" class="hover:text-primary-900 hover:border-t-3" id="favorites-nav">Favorites</a></li>
      <li><a href="/FindYourAnime/quote-generator/index.html" class="hover:text-primary-900 hover:border-t-3">Quotes</a></li>
      <!-- <li><a href="/about-us/index.html" class="hover:text-primary-900 hover:border-t-3">About Us</a></li> -->
    </ul>
    <a 
    id="login-button"
    href="/FindYourAnime/user/index.html"
    class="bg-primary w-full px-8 py-3 rounded-xl text-typeface hover:bg-primary-900 hover:text-background">Login</a>
    <a 
    id="username"
    href="/FindYourAnime/user/logout.html"
    class="bg-primary w-full px-8 py-3 rounded-xl text-typeface hover:bg-primary-900 hover:text-background">
    </a>

  </nav>
  <div class="flex sm:hidden">
    <img  src="/FindYourAnime/images/menu.svg" alt="Menu Button" id="menu-button">
  </div>
</div>
<div class="hidden relative top-0 z-20 flex-col px-5 py-5 bg-secondary min-h-dvh sm:hidden" id="option-menu">
  <div class="flex justify-end sm:hidden">
    <img id="close-menu"  src="/FindYourAnime/images/x.svg" alt="Close Menu">
  </div>
  <nav class="flex flex-col items-center py-10" id="left-nav-options">
    <ul class="flex flex-col gap-10 py-10">
      <li><a href="/FindYourAnime/index.html" class="text-4xl hover:text-primary-900 hover:border-t-3" id="option-home-nav">Home</a></li>
        <li><a href="/FindYourAnime/anime-listing/index.html" class="text-4xl hover:text-primary-900 hover:border-t-3" id="option-discover-nav">Discover</a></li>
        <li><a href="/FindYourAnime/anime-favorites/index.html" class="text-4xl disabled:opacity-50 hover:text-primary-900 hover:border-t-3" id="option-favorites-nav" disabled>Favorites</a></li>
        <li><a href="/FindYourAnime/quote-generator/index.html" class="text-4xl hover:text-primary-900 hover:border-t-3">Quotes</a></li>
    </ul>
    <a     
    href="/FindYourAnime/user/index.html"
    id="side-login-button"
    class="w-full text-center bg-primary px-8 py-2  text-2xl rounded-xl text-typeface hover:bg-primary-900 hover:text-background">Login</a>
    <a 
    id="side-username"
    href="/FindYourAnime/user/logout.html"
    class="bg-primary text-center w-full px-8 py-3 rounded-xl text-typeface hover:bg-primary-900 hover:text-background">
    </a>
  </nav>
</div>